{% extends 'base.html' %}

{% block content %}
<h1>{{ category.name }}</h1>

<div class="products">
    {% for product in products %}
    <div class="product">
        <a href="{{ product.get_absolute_url }}">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
            <h3>{{ product.name }}</h3>
        </a>
        <p>от {{ product.price }} руб.</p>
    </div>
    {% empty %}
    <p>В этой категории пока нет товаров.</p>
    {% endfor %}
</div>
{% endblock %}