{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'main/css/product/product_list.css'%}">
{% endblock style %}

{% block content %}
<div class='container'>
  <div class="products-container">
    <h1 class="page-title">{{ category.name }}</h1>
    <p class="page-description">Пока ничего не написано</p>
    <div class="products">
      {% for product in products %}
      <div class="product">
        <a href={{ product.get_absolute_url }}>
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
          {% endif %}
          <h3>{{ product.name }}</h3>
          <p>от {{ product.price }} руб.</p>
        </a>
        <button class="btn-order" data-bs-toggle="modal" data-bs-target="#orderModal">Заказать</button>
      </div>
      {% empty %}
      <p>В этой категории пока нет товаров.</p>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Модальное окно для заказа -->
{% include "main/order/modal.html" %}
{% endblock content %}

{% block script %}
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/phone_mask.js' %}"></script>
{% endblock script %}