{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--TODO решить с титулом(не меняется)-->
  <title>{{title|default:"МастерГранд - ПОМОЩЬ РЯДОМ"}}</title>

  <!-- Bootstrap CSS для модальных окон -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/base.css"%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  {% block style %}{% endblock style %}
</head>

<body>
  <!-- Фиксированная шапка -->
  <header>
    {% include "header.html" %}
  </header>

  <!-- Основное содержимое -->
  <main>
    {% block content %}{% endblock content %}
  </main>

  <!-- Подвал -->
  <footer>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}
  </footer>

  <!-- Bootstrap JS для модальных окон -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
  {% block script %}{% endblock script %}
</body>
</html>