{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="container" id='contact'>
  <div class="footer-content">
    <div class="footer-column">
      <h3>МастерГранд</h3>
      <p>Профессиональные услуги по ремонту и обслуживанию. Помощь рядом!</p>
      <div class="social-links">
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="footer-column">
      <h3>Компания</h3>
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="{% url 'main:job_application' %}">Карьера</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Контакты</h3>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> г. Москва, ул. Примерная, 123</li>
        <li><i class="fas fa-phone"></i> +1 (234) 567-890</li>
        <li><i class="fas fa-envelope"></i> info@repairservice.com</li>
        <li><i class="fas fa-clock"></i> Круглосуточно, без выходных</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>© {% now 'Y' %} МастерГранд. Все права защищены.</p>
  </div>
</div>
<!-- TODO решить центрирование-->