<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand">
      <i class="bi bi-house-gear"></i> Домашний мастер
    </span>

    <div class="navbar-nav">
      <a class="nav-link" href="{% url 'main:employee_list' %}">
        <i class="bi bi-people"></i> Сотрудники
      </a>
      <a class="nav-link" href="{% url 'main:job_application_list' %}">
        <i class="bi bi-file-earmark-person"></i> Резюме
      </a>
      <a class="nav-link" href="{% url 'main:order_list' %}">
        <i class="bi bi-file-earmark-text"></i> Заявки
      </a>
      <a class="nav-link" href="{% url 'main:category_list' %}">
        <i class="bi bi-diagram-3"></i> Каталог товаров
      </a>
    </div>
  </div>
</nav>